[features]
seeds = false
skip-lint = false

[toolchain]
anchor_version = "0.29.0"

[programs.localnet]
polybet = "FEbCHi9LXo1AxKTtv3N9ZaHbs64Zq85b7dYPmjwVXYfv"

[programs.mainnet]
polybet = "EtckMubyhEtQWfEVcnbka16sghSsXMb8tKf3AWHFmSPf"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "mainnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
init = "ts-node scripts/init.ts"
