[features]
seeds = false
skip-lint = false

[programs.localnet]
polybet = "DcNb3pYGVqo1AdMdJGycDpRPb6d1nPsg3z4x5T714YW"

[programs.mainnet]
polybet = "DcNb3pYGVqo1AdMdJGycDpRPb6d1nPsg3z4x5T714YW"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "mainnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
init = "ts-node scripts/init.ts"
